body {
  margin: 0;
  padding: 0px;
  background: url('C:\Users\Amit\OneDrive\Documents\GitHub\Amit-Portfolio\portfolio\src\components\images\background.png') fixed center/cover no-repeat;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgb(0 0 0) 20%, rgba(0, 0, 0, 0.5) 100%);
}

.App-header {
    color: white;
    display: flex;
    justify-content: right;
    gap: 2%;
    margin-right: 2%;
}
.App-header h1{
  left: 1%;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

