.App {
  text-align: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.App-header {
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.App-header h1{
  left: 1%;
  display: flex;
}

.App-link {
  color: #61dafb;
}

