.about-me {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 100%); */
  padding: 5%;
  border-radius: 10px;
  color: white;
}
.name{
  color: darkcyan;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(13 255 0 / 50%);
  border: 8px solid darkcyan; 
  aspect-ratio: 1;
  clip-path: polygon(98.01% 63.95%,84.61% 86.09%,61.93% 98.56%,36.05% 98.01%,13.91% 84.61%,1.44% 61.93%,1.99% 36.05%,15.39% 13.91%,38.07% 1.44%,63.95% 1.99%,86.09% 15.39%,98.56% 38.07%);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  /* flex: 1 1; */
  margin-left: 5%;
  width: 40%;
  text-align: left;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.skills {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.skills li {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
}